body {
    background-color: rgb(72, 135, 151);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
   

}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 350px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    
}

div {
    text-align: center;
    padding: 8px;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }



footer {
    color: white;
    text-align: center;
    font-style: italic 12pt Arial;
    text-align: center;
    position : absolute;
    bottom : 0px;
    width : 100%;
}